/parseIntReloaded/nbproject/private/
/spinWords/nbproject/private/
/alphabeticAnagram/nbproject/private/
/Spiralizor/nbproject/private/
/integerSquareRoot/nbproject/private/
/enoughIsEnough/nbproject/private/
/stringMerger/nbproject/private/
/nextBiggerNumber/nbproject/private/
/josephusPermutation/nbproject/private/
/sumOfDivided/nbproject/private/
/weightForWeight/nbproject/private/
/observedPin/nbproject/private/
/.metadata/
